.pageMenuToggle {
    z-index: 2;
    pointer-events: all;
    position: absolute;
    cursor: pointer;
    padding: 0.25rem;
    width: 2rem;
    height: 2rem;

    > svg {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
    }
}

.pageMenu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity ease .3s;

    &.pageMenuActive {
        pointer-events: all;
        opacity: 1;
    }

    .pageMenuBackdrop {
        background: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
    }

    .pageMenuBody {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pageMenuFooter {
        position: absolute;
        bottom: 0;
        background: #fff;
        height: 3rem;
        width: 100%;
        text-align: center;

        > a {
            display: inline-block;
            padding: 0.5rem;
            height: 100%;
            width: 2rem;
        }
    }
}