.annotation {
    position: fixed;
    border: 1px solid rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, .3);
    padding: 0.25rem;
    border-radius: 3px;
    max-width: 40vw;
    display: none;
    user-select: none;
}

#annotation-3 {
    color: #333;
    background: #fff;
    padding: 2rem;
    border-radius: 15px;
    font-family: 'MedievalSharp';
    letter-spacing: 1px;
    font-size: 1.5rem;
}